@using Microsoft.AspNetCore.Identity

@model List<IdentityUser>

    <div class="container">
        <h1>User Management</h1>

        <div class="T">
            <div class="table-striped table-bordered">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in Model)
                            {
                                <tr>
                                    <td>@user.UserName</td>
                                    <td>@user.Email</td>
                                    <td>
                                        <form asp-action="ResetPassword" method="post">
                                            <input type="hidden" name="userId" value="@user.Id" />
                                            <button type="submit" class="btn btn-primary">Reset Password</button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    @if (TempData["NewPassword"] != null)
    {
        <div class="container mt-4">
            <div class="alert alert-success" role="alert">
                New password: @TempData["NewPassword"]
            </div>
        </div>
    }



