@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <!-- Add the image tag below -->
    <img src="https://greenwich.edu.vn/wp-content/uploads/2022/10/Welcome-1.jpg" alt="ASP.NET Core Image" class="img-fluid">
</div>
